<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width"/>
    <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon/favicon-16x16.png">
    <link rel="manifest" href="/static/favicon/site.webmanifest">
    <link rel="shortcut icon" href="/static/favicon/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="/static/favicon/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="/static/css/css.css"/>
    <meta name="description" content="Urls.lol is a free URL shortener.">
    <meta property="og:url" content="https://urls.lol">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Urls.lol">
    <meta name="twitter:url" content="https://urls.lol">
    <meta name="twitter:title" content="Urls.lol">
    <meta name="twitter:description" content="Free URL Shortener">

    <title>Url shortener</title>
</head>
<body>
<div class="container">
    <h1>Short your urls</h1>
    <div class="block main_block">
        <form onsubmit="return shorten(event)">
            <div class="d-flex">
                <input class="main_input" id="url" type="url" name="url" placeholder="Enter your long url" autofocus required/>
                <input class="main_button" type="submit" value="Shorten">
            </div>
        </form>
    </div>

    <div id="history" class="block history {% if urls.results %} d-block {% else %} d-none {% endif %}">
        <div class="history_header">
            <h4>History</h4>
        </div>
        <div id="result">
            {% for url in urls.results %}
            <div class="history_item" onclick="return copy(event)" data-url="{{url.short_url}}">
                <div class="history_action">
                    <div class="history_action_content">
                       <div class="history_action_text">Copy</div>
                    </div>
                </div>
                <div class="history_links">
                    <div class="history_short_link">{{url.short_url}}</div>
                    <div class="history_long_link">{{url.long_url}}</div>
                </div>
                <div class="history_clicks">
                    {{ url.count }} clicks
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div id="load_more" class="block load_more {% if urls.next %} d-block {% else %} d-none {% endif %}" >
        <a id="next" href="javascript:void(0);" onclick="load_next(event)" data-next="{{ urls.next }}">Load more</a>
    </div>

</div>
<div class="footer">
    <p>
        Made by <a href="https://github.com/ArseniyK">Arseniy Krasnov</a>
        |
        <a href="https://github.com/ArseniyK/url_shortener">Source code</a>
        |
        <a href="mailto:arseniy@krasnoff.org">Contact</a>
    </p>
</div>
</body>
</html>
<script>

    function copy(event) {
        event.stopPropagation();
        let textArea = document.createElement("textarea");
        textArea.value = event.target.dataset.url;
        textArea.style.position = "absolute";
        textArea.style.left = "-9999px";
        textArea.style.top = "0";
        document.body.appendChild(textArea);
        textArea.focus();
        textArea.select();
        document.execCommand('copy');
        textArea.remove();
    }

    function add_result(url, prepend) {
        let result_parent = document.getElementById('result');
        let result_div = document.createElement('div');
        result_div.innerHTML = `
            <div class="history_item" onclick="return copy(event)" data-url="${url.short_url}">
                <div class="history_action">
                    <div class="history_action_content">
                       <div class="history_action_text">Copy</div>
                    </div>
                </div>
                <div class="history_links">
                    <div class="history_short_link">${url.short_url}</div>
                    <div class="history_long_link">${url.long_url}</div>
                </div>
                <div class="history_clicks">
                    ${url.count} clicks
                </div>
            </div>
        `;
        prepend ? result_parent.prepend(result_div) : result_parent.append(result_div);
    }

    async function load_next(event) {
        event.preventDefault();
        let next_page = document.getElementById('next').dataset.next;
        let results = await load_page(next_page);
        if (results) {
            if (results.next) {
                document.getElementById('next').dataset.next = results.next;
            } else {
                document.getElementById('load_more').classList.add('d-none')
                document.getElementById('load_more').classList.remove('d-block')
            }

            results.results.forEach( item => add_result(item, false))
        }
    }

    async function load_page(page) {
        let response = await fetch(`/?page=${page}`, {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json;charset=utf-8'
            },
        });
        if (response.status === 200) {
            return await response.json()
        }
    }

    async function shorten(e) {
        e.preventDefault()
        let url_el = document.getElementById('url');
        let url = url_el.value;
        let response = await fetch('/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json;charset=utf-8'
            },
            body: JSON.stringify({url: url})
        });
        if (response.status === 200) {
            url_el.value = '';
            let result = await response.json();
            document.getElementById('history').classList.remove('d-none');
            add_result(result, true);
        }
    }
</script>
